<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/list" class="btn" >Users</a>
    
    
    <form class="" action="/" method="POST">
        
            
        <div class="">
            <p class="">Name</p>
            <input type="text" name="Name" id="Name">
            <p class="">Gmail</p>
            <input type="text" name="Gmail" id="Gmail">
            <p class="">Phone</p>
            <input type="Phone" name="Phone" id="Phone">
            <label></label>
        </div>
       
        <button type="submit">Add Product</button>
    </form>
    
</body>
</html>